{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
{{{region name="home_above_footer"}}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    {{#if theme_settings.theme_electronics}}
    {{> components/cms/services}}
    <!-- footer second -->
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <!-- contact us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-sec foot-contact fborder">
                    {{#if settings.address}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.info'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <span class="foot-address"><svg width="20px" height="18px"><use xlink:href="#foot-add"></use></svg></span>
                        <address>{{settings.address}}</address>
                        {{#if settings.phone_number}}
                            <strong class="foot-phone"><span><svg width="20px" height="18px"><use xlink:href="#call-icon"></use></svg></span>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                        {{/if}}
                    </div>
                    </article>
                {{/if}}
                </div>
                
               <!-- navigation section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-navigate fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.navigate'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <ul class="footer-info-list">
                            {{#each pages}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                            <li>
                                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                            </li>
                        </ul>
                    </div>
                    </article>
               </div>
               <!-- brands section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-brand fborder">
                   {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.brands'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                                {{#each shop_by_brand}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                                <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                            </ul>
                        </div>
                    </article>
                    {{/and}}
               </div>
               <!-- categorie section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-categorie fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.categories'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                               {{#each categories}}
                                    {{#if @index '<' 7}}
                                        <li>
                                            <a href="{{url}}">{{name}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </article>
               </div>
               <!-- about us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-about fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                    <div class="footer-info-heading titleWrapper inactive">{{lang 'newsletter.subscribe'}}
                        <div class="collapse-icon">
                            <div class="acc-close"></div>
                            <div class="acc-open"></div>
                        </div>
                    </div>
                    <div id="descwrapper" class="desWrapper">
                        <div class="webi-subscribe">
                            {{> components/common/subscription-form}}
                        </div>
                        
                     </div>
                    </article>
                </div>
                
            </div>
        </div> 
    </div>

    {{else}} 
    {{#if theme_settings.theme_health}}
        <!-- footer second -->
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <!-- contact us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-sec foot-contact fborder">
                    {{#if settings.address}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.info'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <span class="foot-address"><svg width="20px" height="18px"><use xlink:href="#foot-add"></use></svg></span>
                        <address>{{settings.address}}</address>
                        {{#if settings.phone_number}}
                            <strong class="foot-phone"><span><svg width="20px" height="18px"><use xlink:href="#call-icon"></use></svg></span>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                        {{/if}}
                    </div>
                    </article>
                {{/if}}
                </div>
                
               <!-- navigation section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-navigate fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.navigate'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <ul class="footer-info-list">
                            {{#each pages}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                            <li>
                                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                            </li>
                        </ul>
                    </div>
                    </article>
               </div>
               <!-- brands section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-brand fborder">
                   {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.brands'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                                {{#each shop_by_brand}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                                <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                            </ul>
                        </div>
                    </article>
                    {{/and}}
               </div>
               <!-- categorie section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-categorie fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.categories'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                               {{#each categories}}
                                    {{#if @index '<' 7}}
                                        <li>
                                            <a href="{{url}}">{{name}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </article>
               </div>
               <!-- about us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-about fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                    <div class="footer-info-heading titleWrapper inactive">{{lang 'newsletter.subscribe'}}
                        <div class="collapse-icon">
                            <div class="acc-close"></div>
                            <div class="acc-open"></div>
                        </div>
                    </div>
                    <div id="descwrapper" class="desWrapper">
                        <div class="webi-subscribe">
                            {{> components/common/subscription-form}}
                        </div>
                        
                     </div>
                    </article>
                </div>
                
            </div>
        </div> 
    </div>

    {{else}} 
    {{#if theme_settings.theme_sports}}

        <!-- footer second -->
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <!-- contact us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-sec foot-contact fborder">
                    {{#if settings.address}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.info'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <span class="foot-address"><svg width="20px" height="18px"><use xlink:href="#foot-add"></use></svg></span>
                        <address>{{settings.address}}</address>
                        {{#if settings.phone_number}}
                            <strong class="foot-phone"><span><svg width="20px" height="18px"><use xlink:href="#call-icon"></use></svg></span>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                        {{/if}}
                    </div>
                    </article>
                {{/if}}
                </div>
                
               <!-- navigation section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-navigate fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.navigate'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                    <div id="descwrapper" class="desWrapper">
                        <ul class="footer-info-list">
                            {{#each pages}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                            <li>
                                <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                            </li>
                        </ul>
                    </div>
                    </article>
               </div>
               <!-- brands section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-brand fborder">
                   {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.brands'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                                {{#each shop_by_brand}}
                                    <li>
                                        <a href="{{url}}">{{name}}</a>
                                    </li>
                                {{/each}}
                                <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                            </ul>
                        </div>
                    </article>
                    {{/and}}
               </div>
               <!-- categorie section -->
               <div class="col-lg-2 col-sm-2 col-12 foot-categorie fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                        <div class="footer-info-heading titleWrapper inactive">{{lang 'footer.categories'}}
                            <div class="collapse-icon">
                                <div class="acc-close"></div>
                                <div class="acc-open"></div>
                            </div>
                        </div>
                        <div id="descwrapper" class="desWrapper">
                            <ul class="footer-info-list">
                               {{#each categories}}
                                    {{#if @index '<' 7}}
                                        <li>
                                            <a href="{{url}}">{{name}}</a>
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </article>
               </div>
               <!-- about us section -->
                <div class="col-lg-3 col-sm-3 col-12 foot-about fborder">
                    <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                    <div class="footer-info-heading titleWrapper inactive">{{lang 'newsletter.subscribe'}}
                        <div class="collapse-icon">
                            <div class="acc-close"></div>
                            <div class="acc-open"></div>
                        </div>
                    </div>
                    <div id="descwrapper" class="desWrapper">
                        <div class="webi-subscribe">
                            {{> components/common/subscription-form}}
                        </div>
                        
                     </div>
                    </article>
                </div>
                
            </div>
        </div> 
    </div>

    {{/if}}
    {{/if}}
    {{/if}}

    
    <div class="foot-copy">
        <div class="container">
            <div class="row last-footer">
                <div class="col-md-6 col-12 text-left">
                    {{> components/common/payment-icons}}
                </div>
                <div class="col-md-6 col-12 text-right">
                    {{#if theme_settings.social_icon_placement_top}}
                        {{> components/common/social-links}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="foot-copy">
        <div class="container">
            <div class="row last-footer">
                <div class="col-12 text-center">
                    {{#if settings.paypal_commerce_credit_message}}
                        <div class="footer-copyright">
                            <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
                        </div>
                    {{/if}}
                    {{#if theme_settings.show_powered_by}}
                        <div class="footer-copyright">
                            <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
                        </div>
                    {{/if}}
                    {{#if theme_settings.show_copyright_footer}}
                        <div class="footer-copyright">
                            <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    
    <a class="scroll_to_top scroll-progress" id="scroll" style="display: block;" onclick="scrollToTop()" title="Scroll to Top">
      <span id="progress-value">      
        <svg width="16px" height="16px"><use xlink:href="#arrow-right"></use></svg>
      </span>
    </a>
    {{{region name="ssl_site_seal--global"}}}
</footer>

<script type="text/javascript">
    // Scroll To top
    function scrollToTop(){
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
    let progressScrollValue = () => {
      let scrollProgress = document.getElementById("scroll");
      let progressValue = document.getElementById("progress-value");
      let pos = document.documentElement.scrollTop;
      let calcHeight =
        document.documentElement.scrollHeight -
        document.documentElement.clientHeight;
      let scrollValue = Math.round((pos * 100) / calcHeight);
      if (pos > 100) {
        scrollProgress.style.display = "grid";
      } else {
        scrollProgress.style.display = "none";
      }
      scrollProgress.addEventListener("click", () => {
        document.documentElement.style.scrollBehavior = "smooth";
        document.documentElement.scrollTop = 0;
      });
      scrollProgress.style.background = `conic-gradient({{theme_settings.color-textBase--hover}} ${scrollValue}%, {{theme_settings.button--default-borderColor}} 0)`;
    };

    window.onscroll = progressScrollValue;
    window.onload = progressScrollValue;
</script>