{{#if theme_settings.theme_electronics}}
{{#if theme_settings.home-sale-banner}}
	<div class="section-spacing">
		<div class="banner-bg-offer container">
			<div class="row pre-row">
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
					<div class="off-img off-img-one">
					{{#if theme_settings.salebanner-first-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-first-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-first-img}}" width="571px" height="364px"  alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-first-img-cont2}}</p>
	                        <h1>{{theme_settings.salebanner-first-img-cont1}}</h1>
	                        <p>{{theme_settings.salebanner-first-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img off-img-three off-img-second-col">
	                <div class="off-img off-img-one">
					{{#if theme_settings.salebanner-second-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-second-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-second-img}}" width="400px" height="400px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <h1>{{theme_settings.salebanner-second-img-cont1}}</h1>
							<p>{{theme_settings.salebanner-second-img-cont2}}</p>
							
						</div>
					{{/if}}
	                </div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
					<div class="off-img off-img-four">
					{{#if theme_settings.salebanner-thired-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-thired-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-thired-img}}" width="571px" height="364px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-thired-img-cont1}}</p>
	                        <h1>{{theme_settings.salebanner-thired-img-cont2}}</h1>
	                        <p>{{theme_settings.salebanner-thired-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}
{{else}} 
 {{#if theme_settings.theme_health}}
{{#if theme_settings.home-sale-banner}}
	<div class="section-spacing">
		<div class="banner-bg-offer container">
			<div class="row pre-row">
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
					<div class="off-img off-img-one">
					{{#if theme_settings.salebanner-first-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-first-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-first-img}}" width="784px" height="364px"  alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-first-img-cont2}}</p>
	                        <h1>{{theme_settings.salebanner-first-img-cont1}}</h1>
	                        <p>{{theme_settings.salebanner-first-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img off-img-three off-img-second-col">
	                <div class="off-img off-img-one">
					{{#if theme_settings.salebanner-second-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-second-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-second-img}}" width="784px" height="364px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <h1>{{theme_settings.salebanner-second-img-cont1}}</h1>
							<p>{{theme_settings.salebanner-second-img-cont2}}</p>
							
						</div>
					{{/if}}
	                </div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
					<div class="off-img off-img-four">
					{{#if theme_settings.salebanner-thired-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-thired-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-thired-img}}" width="1600px" height="364px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-thired-img-cont1}}</p>
	                        <h1>{{theme_settings.salebanner-thired-img-cont2}}</h1>
	                        <p>{{theme_settings.salebanner-thired-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}


{{else}}
{{#if theme_settings.theme_sports}}
{{#if theme_settings.home-sale-banner}}
	<div class="section-spacing">
		<div class="banner-bg-offer container">
			<div class="row pre-row">
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-first-col">
					<div class="off-img off-img-one">
					{{#if theme_settings.salebanner-first-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-first-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-first-img}}" width="571px" height="364px"  alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-first-img-cont2}}</p>
	                        <h1>{{theme_settings.salebanner-first-img-cont1}}</h1>
	                        <p>{{theme_settings.salebanner-first-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img off-img-three off-img-second-col">
	                <div class="off-img off-img-one">
					{{#if theme_settings.salebanner-second-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-second-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-second-img}}" width="400px" height="400px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <h1>{{theme_settings.salebanner-second-img-cont1}}</h1>
							<p>{{theme_settings.salebanner-second-img-cont2}}</p>
							
						</div>
					{{/if}}
	                </div>
				</div>
				<div class="col-lg-4 col-sm-6 col-12 pre-col off-img-thired-col">
					<div class="off-img off-img-four">
					{{#if theme_settings.salebanner-thired-img}}
						<div class="features-img-banner">
							<a href="{{theme_settings.salebanner-thired-img-link}}"><img class="img-fluid lazyload" data-sizes="auto" src="{{cdn '/assets/img/loading.svg'}}" data-src="/product_images/uploaded_images/{{theme_settings.salebanner-thired-img}}" width="571px" height="364px" alt="banner"/></a>
						</div>
						<div class="features-img-descri">
	                        <p>{{theme_settings.salebanner-thired-img-cont1}}</p>
	                        <h1>{{theme_settings.salebanner-thired-img-cont2}}</h1>
	                        <p>{{theme_settings.salebanner-thired-img-cont3}}</p>
						</div>
					{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
{{/if}}

{{/if}}
{{/if}}
{{/if}}