// Page Navigation
// -----------------------------------------------------------------------------
//
// Purpose: Contains the styles for the page navigation, deals with 2 viewsdue to
// responsive layout of that navigation
//
// 1. It's not exactly a grid row, as it's a little further down the DOM tree, but
// I use it here to grab the max width centering.
// 2. Prevent document scrolling by clipping its body
// 3. Prevent inertia scrolling of document
//
// -----------------------------------------------------------------------------


//
// Shared styles for sub page navigation
// -----------------------------------------------------------------------------
.header-menu--category .custom-header-page{
    display: none;
}
.header-menu--pages .navPages-item{
    display: none;
}
// css for pages menu style
.header-menu--pages .custom-header-page{
    display: unset;
}
.header-menu--pages .custom-header-page .navPages-action{
    display: none!important;
}
.header-menu--pages .custom-header-page .navPage-subMenu, .header-menu--pages .custom-header-page .navPage-subMenu .navPages-action{
    display: block!important;
}
.header-menu--pages .custom-header-page .navPage-subMenu{
    position: unset;
    background-color: transparent;
    padding: 0px!important;
    border: none;
    box-shadow: unset;
}
.header-menu--pages .custom-header-page .navPage-subMenu .navPages-item{
    background-color: transparent!important;
    display: inline-block;
    padding: 15px 20px 15px 20px;
}
.header-menu--pages .custom-header-page .navPage-subMenu .navPages-item .navPages-action{
    padding: 0px!important;
    font-size: 16px;
}
.custom-header-page .navPage-subMenu .navPages-item{
    display: block;
    float: none;
}
.custom-header-page .navPage-subMenu .navPages-item .navPages-action{
    padding: 0px 0 10px 0px!important;
    font-size: 14px;
}
.custom-header-page .navPage-subMenu{
    width: auto;
}
%navPage-childList {
    border-left: 1px solid $navPage-childList-borderColor;
    margin: spacing("quarter") spacing("half");
    padding-left: spacing("half");
}

//
// When navPages is open
// -----------------------------------------------------------------------------

.has-activeNavPages {
    overflow: hidden; // 2
    -webkit-overflow-scrolling: auto; // 3
}

//
// Top level Pages navigation container
// -----------------------------------------------------------------------------

.navPages-container {
   

    @include breakpoint("medium") {
        background: transparent;
        display: block;
        height: auto;
        padding: 0;
        position: unset;
    }

    &.is-open {
    }
}

//
// Top level Pages navigation list styles
// -----------------------------------------------------------------------------

.navPages {
   
    height: 100%;
    overflow-y: auto;
    padding: spacing("single");

    @include breakpoint("medium") {
        
        @include nav($style: "navBar", $wrapper: "nav");
        background: none;
        font-size: 0; // 1
        overflow-y: visible;
        padding: 0;
        text-align: center;
    }

    ul {
        list-style: none;
    }

    .navPage-subMenu-list {
        @extend %navPage-childList;
        
        border-left: 0;
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        @include breakpoint("medium") {
            @include grid-row();
            border-left: 0;
            margin: auto;
            padding-left: 0;
            max-width: 100%;
        }
    }
}
.navPages-list-pages{
    border-top: none!important;
    margin-top: 0!important;
    padding-top: 0!important;
    float: right!important;
}
.navPages-list-pages .navPages-action{
    padding: 10px 0px 15px 20px;
}
.navPages-list-pages .navPages-item-page .navPages-action::after{
    content: "|";
    color: stencilColor("color-secondaryDarker");
    display: inline-block;
    width: 0;
    height: auto;
}
.navPages-list-pages .navPages-item-page:last-child .navPages-action::after{
    display: none;
}
.navPages-list {
    margin: 0;

    @include breakpoint("medium") {
        display: inline-block;
        float: left;
    }

    + .navPages-list {
        border-top: 1px solid $navPages-list--user-borderColor;
        margin-top: spacing("half");
        padding-top: spacing("half");
    }
}

.navPages-list-depth-max.subMenu-is-open {
    .is-hidden {
        display: none;

        @include breakpoint("medium") {
            display: inline-block;
        }
    }

    .navPages-item-page {
        display: none;

        @include breakpoint("medium") {
            display: inline-block;
        }
    }
}

.navPages-action-depth-max.has-subMenu.is-root.is-open {
    .navPages-action-moreIcon {
        @include breakpoint("medium") {
            transform: rotate(0);
        }
    }
}

.navPages-action-depth-max.has-subMenu.is-open {
    border-bottom: 1px solid $navPages-list--user-borderColor;
    text-align: center;

    @include breakpoint("medium") {
        border-bottom: 0;
        text-align: left;
    }

    .navPages-action-moreIcon {
        border: solid 1px $navPages-action-moreIcon-borderColor;
        border-radius: 0px;
        float: left;
        height: 35px;
        margin-top: -10px;
        padding: 11.7px; // (33 - 9.6) / 2
        transform: rotate(90deg);
        width: 35px;

        @include breakpoint("medium") {
            @include square(8px);
            border: 0;
            border-radius: 0;
            float: none;
            margin-top: 0;
            padding: 0;
            transform: rotate(-90deg);
        }
    }

    svg {
        height: 9.6px;
        width: 9.6px;

        @include breakpoint("medium") {
            height: 100%;
            width: 100%;
        }
    }
}

.navPages-action {
    color: stencilColor("navPages-color");
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    padding: 10px 20px 15px 0px;
    transition: .3s ease;

    @include breakpoint("medium") {
        display: inline-block;
    }

    &.has-subMenu {
        .navPages-list:not(.navPages-list-depth-max) & {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

    &.is-open,
    .collapsible-icon-wrapper.is-open {
        svg {
            fill: $navPage-subMenu-item--is-highlighted-color;
            stroke: $navPage-subMenu-item--is-highlighted-color;
        }
    }

    &:hover,
    &.activePage {
        color: stencilColor("navPages-color-hover");

        svg {
            fill: stencilColor("color-textBase--hover");
            stroke: stencilColor("color-textBase--hover");
        }
    }

    svg {
        fill: stencilColor("navPages-color");
        stroke: stencilColor("navPages-color");
        transition: all 0.15s ease;
    }
}
.navPage-subMenu-item{
    .navPage-subMenu-action{
        color: stencilColor("color-textBase");
        &:hover{
            color: stencilColor("color-textBase--hover");
        }
    }
    .navPage-childList{
        .navPage-childList-item{
            .navPage-childList-action{
                color: stencilColor("color-textBase");
                &:hover{
                    color: stencilColor("color-textBase--hover");
                }
            }
        }
    }
}
.navPages-action--storeCredit {
    color: stencilColor("color-textSecondary");
}

.navPages-action--compare {
    display: none;

    &.show {
        display: block;
    }
}

.navPages-action-moreIcon {
    @include square(8px);
    margin-left: spacing("half");
    transform: rotate(-90deg);

    @include breakpoint("medium") {
        transform: none;
    }

    .has-subMenu.is-open &,
    .collapsible-icon-wrapper.is-open & {
        transform: rotate(0);
    }

    .navPages-list:not(.navPages-list-depth-max) & {
        @include square(11px);
        margin: 0 spacing("single");

        @include breakpoint("medium") {
            @include square(8px);
            margin: 0 0 0 5px;
        }
    }
}


// Sub page navigation and children of sub pages
// -----------------------------------------------------------------------------

.navPage-childList {
    @extend %navPage-childList;
    display: none;

    @include breakpoint("medium") {
        border: 0;
        display: block;
    }

    &.is-open {
        display: block;
    }

    .navPage-subMenu-action:not(.navPages-action-depth-max) + & {
        margin-left: spacing("double"); //

        @include breakpoint("medium") {
            margin-left: 0;
        }
    }
}


// Sub menu, first level down from top level categories
// -----------------------------------------------------------------------------
//
// 1. navBar mixin has lots of decendant child selectors to deal with
//
// -----------------------------------------------------------------------------
.custom-header-page .navPage-subMenu {
    width: auto;
    position: absolute;
    left: auto;
    right: auto;
}
.navPage-subMenu {
    display: none;
    outline: 0;

    @include breakpoint("medium") {
        background-color: stencilColor("navPages-subMenu-backgroundColor");
        padding: 15px 15px !important;
        position: absolute;
        left: 0;
        right: 0;
        text-align: left;
        border-radius: 0px 0px 8px 8px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .18%);
        border-bottom: 3px solid stencilColor("color-textBase");

        &.is-open {
            left: 0;
            width: 100% !important;
        }

        .navPages-action-moreIcon {
            display: none;
        }
    }

    .navPages-list:not(.navPages-list-depth-max) .navPages-action.has-subMenu + & {
        .navPage-subMenu-list {
            margin-right: 0;

            @include breakpoint("medium") {
                margin-right: auto;
            }
        }
    }
}

.has-subMenu.is-root + .navPage-subMenu-horizontal {
    @include breakpoint("medium") {
        border-left: 0;
        height: $navPage-subMenu-horizontal-height;
        left: inherit;
        margin: auto;
        top: inherit;
        width: $navPage-subMenu-horizontal-width;
    }
}

.navPage-subMenu-horizontal {
    &.is-open {
        @include breakpoint("medium") {
            border-left: 1px solid stencilColor("navPages-subMenu-separatorColor");
            display: inherit;
            height: $navPage-subMenu-horizontal-height;
            margin-left: $navPage-subMenu-horizontal-width;
            padding: 0 !important;
            top: 0;
            width: $navPage-subMenu-horizontal-width + 1;
        }
    }

    .navPages-action-moreIcon {
        @include breakpoint("medium") {
            display: inline-block;
            transform: rotate(-90deg);
        }
    }
}

.navPage-subMenu-item {
    padding: spacing("half") 0;

    @include breakpoint("medium") {
        @include grid-column(3);
        padding: 0 0.75rem !important; // 1
        width: 25%;
        .navPages-action {
            text-transform: capitalize;
            width: 100%;
        }

        > .navPage-subMenu-action {
            
            margin-bottom: 10px;
        }
    }
}

.navPage-subMenu-item-child,
.navPage-subMenu-item-parent {
    width: 100%;

    @include breakpoint("medium") {
        .navPage-subMenu-action {
            padding-left: spacing("single");
            padding-right: spacing("single");
            width: 100%;
        }
    }
}

.navPage-subMenu-action {
    padding: spacing("half") 0;
    text-transform: capitalize!important;

    @include breakpoint("medium") {
        padding: spacing("half") 0 (spacing("half") + spacing("quarter"));
    }

    .navPages-list:not(.navPages-list-depth-max) & {
        padding: 0 0 0 spacing("single");

        @include breakpoint("medium") {
            padding: 0!important;
        }
    }

    .collapsible-icon-wrapper {
        box-sizing: content-box;
        display: inline-block;
        height: 100%;
        text-align: right;
       
        right: 0;
        left: auto;

        @include breakpoint("medium") {
            display: none;
        }
    }
}


//
// Child pages of sub pages navigation lists
// -----------------------------------------------------------------------------
.navPage-childList-action {
    font-weight: fontWeight("normal");
    padding: 0 0 8px!important;
    text-transform: capitalize;
    font-size: 15px;
}


//
// Quick search inside the mobile nav
// -----------------------------------------------------------------------------

.navPages-quickSearch {
    border-bottom: container("border");
    margin-bottom: spacing("half");

    @include breakpoint("medium") {
        display: none;
    }

    > .container {
        padding: 0;
    }

    .form {
        margin: 0;
    }

    .form-field {
        margin-bottom: 0;
    }
}


//
// NavPages user section for mobile nav panel
// -----------------------------------------------------------------------------

.navPages-list--user {
    @include breakpoint("medium") {
        display: none;
    }

    #currencySelection2 {
        background-color: color("whites", "bright");
        border: container("border");

        .dropdown-menu-item {
            padding: 0;

            &:not(:last-child) {
                border-bottom: container("border");
            }
        }

        a {
            padding: spacing("half") spacing("single");
        }
    }
}
@media(min-width: 801px){
    .navPages-item:hover .navPage-subMenu {
        display: block;
    }
    .fixed .navPage-subMenu{
        top: 45px;
    }
    .navPages-container {
    bottom: 0;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    right: 0;
    }
}
@media(min-width: 800px){
    .cate-navlg{
        position: unset;
    }
    .navPage-subMenu {
        width: 100%;
    }
    .mobile-pages{
        display: none;
    }
}
@media(min-width: 1199px){
    .navPage-subMenu {
        width: 100%;
    }
}
@media(min-width: 1350px){
    .navPage-subMenu {
        width: 100%;
    }
}
@media(min-width: 1409px){
    .navPage-subMenu {
        width: 100%;
    }
}
@media (max-width: 800px){
    .navPages-container{
        height: 100%;
        width: 100%;
        transform: translate(-100%);
        position: fixed;
        z-index: 999999;
        top: auto;
        left: 0;
        transition: 0.5s;
        padding-top: 60px;
        overflow-x: hidden;
        box-shadow: 5px 0 5px 0 rgba(0, 0, 0, .06);
        clear: both;
        height: 100%;
        background-color: #fff;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .desktop-pages{
        display: none;
    }
    .navPage-childList {
        transform: translate(100%);
        visibility: hidden;
        outline: 0;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 100vh;
        margin: 0;

        @include breakpoint("medium") {
            border: 0;
            display: block;
        }

        &.is-open {
            transform: translate(0);
            visibility: visible;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            top: 0;
            width: 100%;
            background: #fff;
            z-index: 1;
            display: block;
            margin-left: 0!important;
            padding: 0;
        }

    }
    .navPage-subMenu {
        transform: translate(100%);
        visibility: hidden;
        outline: 0;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 100vh;


        @include breakpoint("medium") {
            // scss-lint:disable ImportantRule
            background-color: stencilColor("navPages-subMenu-backgroundColor");
            padding: 15px 5px !important;
            position: absolute;
            text-align: left;

            .navPages-action-moreIcon {
                display: none;
            }
        }

        &.is-open {
            transform: translate(0);
            visibility: visible;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            top: 0;
            width: 100%;
            background: #fff;
            z-index: 1;
            display: block;
        }
    }
    .mobile-currency .navPage-subMenu-item{
        padding: 0!important;
    }
    .mobile-currency .navPage-subMenu-item img{
        display: inline-block;
    }
    .navPage-childList-item{
        float: none;
        display: block;
        text-align: left;
        padding: 0 15px!important;
    }
    .navPages .navPage-subMenu-list {
        margin: 15px!important;
    }
    .navPages .navPage-subMenu-list .navPage-childList .navPage-childList-item{
        margin: 15px 0px;
    }
    .navPage-subMenu-item {
        margin-right: 0!important;
        padding: 10px 0!important;
    }
    .navPages-container.is-open {
        left: 0px;
        right: 0px;
        transform: translate(0);
    }
    .navPage-subMenu-item img{
        display: none;
    }
    .navPages-action{
        color: stencilColor("color-white");
    }
    .navPages-action svg{
        fill: stencilColor("color-white");
        stroke: stencilColor("color-white");
    }
    .navPages .navPage-subMenu-list, .navPage-childList{
        border: none;
    }
    .navPage-subMenu{
        width: 100%;
    }
    
    .navPages-list:not(.navPages-list-depth-max) .navPages-action-moreIcon{
        right: 0;
        left: auto;
    }
    .custom-header-page .navPage-subMenu{
        position: unset;
    }
}